label sup.required {
    color: red;
}

form div.row {
    margin-top: 5px;
}

form div.row input, textarea, select {
    display: block;
    width: 100%;
}

form div.row button {
    float: right;
}

form div.notify {
    margin-top: 5px;
    background: #90b4ff;
    width: 306px;
    font-style: italic;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

form input.validateError, textarea.validateError {
    background: #ffa8a0;
}

div.successMessage {
    border: 1px solid green;
    padding: 10px;
    color: green;
}

div.errorMessage {
    border: 1px solid darkred;
    padding: 10px;
    color: darkred;
}