.comment {
    margin-top: 20px;
}

.comment .header {
    background: gainsboro;
    overflow: hidden;
    font-weight: bold;
}

.comment .header .name {
    float: left;
}

.comment .header .date {
    overflow: hidden;
}

.comment .header .date span {
    float: right;
}

.comment .content {
    margin-top: 10px;
    clear: left;
}

.comment .remote {
    overflow: hidden;
}

.comment .remote button {
    margin-top: 10px;
    float: right;
}

