<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Статистика - регионы</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/stat.css">
    <script type="application/javascript" src="/static/js/utils.js"></script>
</head>
<body>

<div class="wrapper">
    <h3>{{$title}}</h3>

    <div id="stats">
        <table border="1">
            <tr>
                <th>{{$columnName}}</th>
                <th>Количество</th>
            </tr>
            {{$table}}
        </table>
    </div>


</div>

</body>
</html>